#contactSendForm input::-webkit-input-placeholder {
    color: #fff !important;
    font-family: FuturaPTLight;
}

#contactSendForm input:-moz-placeholder { /* Firefox 18- */
    color: #fff !important;
    font-family: FuturaPTLight;
}

#contactSendForm input::-moz-placeholder {  /* Firefox 19+ */
    color: #fff !important;
    font-family: FuturaPTLight;
}

#contactSendForm input:-ms-input-placeholder {
    color: #fff !important;
    font-family: FuturaPTLight;
}

#contactSendForm textarea::-webkit-input-placeholder {
    color: #fff !important;
    font-family: FuturaPTLight;
    padding-top: 100px;
}

#contactSendForm textarea:-moz-placeholder { /* Firefox 18- */
    color: #fff !important;
    font-family: FuturaPTLight;
    padding-top: 100px;
}

#contactSendForm textarea::-moz-placeholder {  /* Firefox 19+ */
    color: #fff !important;
    font-family: FuturaPTLight;
    padding-top: 100px;
}

#contactSendForm textarea:-ms-input-placeholder {
    color: #fff !important;
    font-family: FuturaPTLight;
    padding-top: 100px;
}
#contactSendForm .upload-file {
    color: #fff!important;
    left: 20px;
    font-size: 14px;
    font-family: FuturaPTLight;
    margin-top: 10px!important;
    display: inline-block;
    cursor: pointer;
    background-color: #f56c88;
    border-radius: 3px;
    padding: 2px 15px;
    transition: all 0.3s;
}

#contactSendForm .form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #fff;
    background-color: rgba(139,61,152,.45);
    border: 0;
    border-radius: 0px;
    box-shadow: 0 1px 1px rgba(255,255,255,0.45);
    transition: all .3s;
}
#contactSendForm .form-control:focus {
    background-color: rgba(139,61,152,.1);
    box-shadow: 0 1px 1px rgba(255,255,255,1);
}
#contactSendForm .input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #ccc;
    font-family: FuturaPTMedium;
    text-align: center;
    background-color: rgba(250,110,139,.0);
    border: 1px solid rgba(250,110,139,0);
    border-radius: 4px;
}
#contactSendForm .btnSubmit{
    border: 0;
    background: #55bd64;
    padding: 20px 80px;
    font-family: FuturaPTLight;
    font-size: 23px;
    color: #fff;
    border-radius: 5px;
    transition: all .3s;
    box-shadow: 3px 3px 0 #49964B;
}
#contactSendForm .btnSubmit:hover{
    background: rgba(85,189,100,.8);
}
#contactSendForm .btnSubmit:focus{
    box-shadow: none;
}
#contactSendForm input.form-control{
    height: 54px;
}

#contactSendForm label.error {
    font-family: FuturaPTLight;
    position: absolute;
    right: 45px;
    margin-top: -37px;
    font-size: 15px;
    color: #f46b87;
}

