/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .sectionWhyWeItem {
        border-bottom: 1px solid #fff;
        margin-bottom: 30px;
        padding-bottom: 20px;
    }
    .sectionWhyWeItem:last-child {
        border-bottom: none;
    }
    .sectionWhyWeItemBorderLR {
        border-right: none;
        border-left: none;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .block-phone-header {
        right: 25px;
    }
    .burger {
        left: 25px;
    }
    .serviceHeading {
        font-size: 40px;
    }
    .descSliderHeading {
        font-size: 40px;
    }
    .descSlider h1{
      font-size: 22px;
      font-weight: 300;
      font-family: "RobotoBold";
    }
    .sectionAdvantages h2{
        font-size: 40px;
    }
    .sectionWhyDevelopment h2 {
        font-size: 40px;
    }
    .stagesDevelopment h2 {
        font-size: 40px;
    }
    .sectionOrderCooperation h2{
        font-size: 33px;
    }
    .sectionPortfolio h2{
        font-size: 40px;
    }
    .sectionTestimonials h2{
        font-size: 40px;
    }
    .sectionContact h2 {
        font-size: 40px;
    }
    .contactInfo {
        font-size: 18px;
    }
    .sectionContactsPhone a {
        font-size: 22px;
    }
     /*timeline*/
    #timeline {
        margin: 30px;
        padding: 0px;
        width: 90%;
    }
    #timeline:before {
        left: 0;
    }
    #timeline .timeline-item .timeline-content {
        width: 90%;
        float: right;
        font-size: 20px;
    }
    #timeline .timeline-item .timeline-content h3{
        font-size: 20px;
    }
    #timeline .timeline-item .timeline-content:before, #timeline .timeline-item .timeline-content.right:before {
        left: 10%;
        margin-left: -6px;
        border-left: 0;
        border-right: 7px solid #fb728c;
    }
    #timeline .timeline-item .timeline-icon {
        left: 0;
    }

    /*timelineTop*/
    #timelineTop {
        margin: 30px;
        padding: 0px;
        width: 90%;
    }
    #timelineTop:before {
        left: 0;
    }
    #timelineTop .timeline-item .timeline-content {
        width: 90%;
        float: right;
        font-size: 20px;
    }
    #timelineTop .timeline-item .timeline-content h3{
        font-size: 20px;
    }
    #timelineTop .timeline-item .timeline-content:before, #timelineTop .timeline-item .timeline-content.right:before {
        left: 10%;
        margin-left: -6px;
        border-left: 0;
        border-right: 7px solid #8d449d;
    }
    #timelineTop .timeline-item .timeline-icon {
        left: 0;
    }
}
@media only screen and (max-width : 540px) {
  footer {
    display: none;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .advantagesItemTitle {
        font-size: 20px;
    }
    .advantagesItem img {
        float: none;
    }
    .advantagesItemRight img{
        float: none;
    }
    .thankYouForAttention {
        font-size: 22px;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 375px) {
    .descSliderHeading {
        font-size: 30px;
    }
    .descSlider h1{
      font-size: 22px;
      font-weight: 300;
      font-family: "RobotoBold";
    }
    .sectionAdvantages h2{
        font-size: 30px;
    }
    .advantagesItemTitle {
        font-size: 21px;
    }
    .advantagesItemTitleRight {
        font-size: 21px;
    }
    .hidden-phone {
      display: none;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 320px) {

}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {

}
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {


}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .cd-top {
        right: 20px;
        bottom: 80px;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}
@media only screen and (min-width: 1024px) {
    .cd-top {
        height: 60px;
        width: 60px;
        right: 30px;
        bottom: 80px;
    }
}