/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    .sectionWhyWeItem {
        border-bottom: 1px solid #fff;
        margin-bottom: 30px;
        padding-bottom: 20px;
    }
    .sectionWhyWeItem:last-child {
        border-bottom: none;
    }
    .sectionWhyWeItemBorderLR {
        border-right: none;
        border-left: none;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .block-phone-header {
        right: 25px;
    }
    .burger {
        left: 25px;
    }
    .serviceHeading {
        font-size: 40px;
    }
    .descSliderHeading {
        font-size: 40px;
    }
    .sectionAdvantages h2{
        font-size: 40px;
    }
    .sectionWhyDevelopment h2 {
        font-size: 40px;
    }
    .stagesDevelopment h2 {
        font-size: 40px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .timeline-title {
        font-size: 16px;
    }
    .timeline > li > .timeline-panel {
        padding: 20px 10px;
    }
    .timeline-body p {
        font-size: 14px;
    }
    .advantagesItemTitle {
        font-size: 20px;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 375px) {
    .descSliderHeading {
        font-size: 30px;
    }
    .sectionAdvantages h2{
        font-size: 30px;
    }
    .advantagesItemTitle {
        font-size: 21px;
    }
    .advantagesItemTitleRight {
        font-size: 21px;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 320px) {


}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {

}
@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {


}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}