
.header {
    position: fixed;
    z-index: 5;
    width: 100%;
    transition: all .3s;
}

.burger {
    position: absolute;
    z-index: 10;
    left: 50px;
    top: 30px;
    cursor: pointer;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.burger__patty {
    width: 28px;
    height: 2px;
    margin: 0 0 4px 0;
    background: white;
    -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.burger__patty:last-child {
    margin-bottom: 0;
}
.burger--close {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.burger--close .burger__patty:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(4px, 4px);
    transform: rotate(45deg) translate(4px, 4px);
}
.burger--close .burger__patty:nth-child(2) {
    opacity: 0;
}
.burger--close .burger__patty:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(5px, -4px);
    transform: rotate(-45deg) translate(5px, -4px);
}
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;
}
.menu--active {
    visibility: visible;
}
.menu__brand, .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden;
}
.menu__list {
    margin: 0;
    padding: 0;
    background: rgba(45,158,148,.75);
    list-style-type: none;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__list--active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.menu__brand {
    background: rgba(56,197,185,.75);
    -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}
.menu__brand--active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.menu__item {
    -webkit-transform: translate3d(500px, 0, 0);
    transform: translate3d(500px, 0, 0);
    -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__item--active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.menu__link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    padding: 15px 0;
    font-weight: 300;
    color: white;
    text-decoration: none;
    color: white;
    -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__link:hover {
    text-decoration: none;
}
.menu__link:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 10px;
    height: 2px;
    background: white;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__link:hover:before {
    width: 100%;
}
.menu .menu__item:nth-child(1) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.menu .menu__item:nth-child(2) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.menu .menu__item:nth-child(3) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.menu .menu__item:nth-child(4) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}
.menu .menu__item:nth-child(5) {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}
.menu .menu__item:nth-child(6) {
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}

@media screen and (max-width: 768px) {
    ul.menu__list,
    div.menu__brand {
        float: none;
        width: 100%;
        min-height: 0;
    }
    ul.menu__list--active,
    div.menu__brand--active {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .menu__list {
        height: 75vh;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    .menu__link {
        font-size: 24px;
    }

    .menu__brand {
        height: 25vh;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    .menu__brand .logo {
        width: 90px;
        height: 90px;
    }
}
.logo {
    width: 200px;
    height: 200px;
    background: url(../images/logo.svg) no-repeat 50%;
    border-radius: 50%;
}
.block-phone-header {
    position: absolute;
    right: 50px;
    top: 20px;
    font-weight: 300;
}
.phone-header {
    display: inline-block;
    font-family: 'FuturaPTLight';
    background: url(../images/phone-header.png) no-repeat 0 50%;
    padding-left: 40px;
}
.phone-header a{
    font-size: 22px;
    color: #fff;
}
.phone-header a:hover{
    text-decoration: none;
}
.phone-header a:focus{
    text-decoration: none;
}

.phone-header span{
    font-family: FuturaPTMedium;
}
.btn-header {
    font-family: RobotoLight;
    padding: 7px 40px;
    background: #f46b87;
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
    border-radius: 5px;
    transition: all .3s;
    font-size: 18px;
    font-weight: 300;
}
.btn-header:hover {
    background: #fff;
    color: #57bf60;
    text-decoration: none;
}
.btn-header:focus {
    background: #f46b87;
    text-decoration: none;
    color: #fff;
}




