.sectionAdvantages {
    padding-top: 220px;
    padding-bottom: 200px;
    background: #8d449d;
    margin-top: -120px;
}
.sectionAdvantages h2{
    font-family: RobotoBold;
    text-align: center;
    font-size: 62px;
    color: #4cc35f;
    margin-bottom: 20px;
    text-shadow: 3px 3px #000, 5px 4px #fff;
}
.advantagesItem img {
    float: left;
    margin-right: 20px;
    width: 160px;
}
.advantagesItemRight img{
    float: right;
    margin-left: 20px;
    width: 160px;
}


.advantagesItem {
    margin: 50px 0;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 3px;
}
.advantagesItemRight {

}
.advantagesItemText {
    color: #ccc;
}
.advantagesItemTitle {
    color: #e8c93d;
    font-family: RobotoBold;
    font-weight: 700;
}
.advantagesItemTitleRight {
    text-align: right;
    color: #e8c93d;
    font-family: RobotoBold;
    font-weight: 700;
}
