.sectionContact {

    background: url('../images/bgContacts.jpg')  center center no-repeat #fff;
    margin-top: -120px;
    background-size: cover;
    height: 1400px;
}
.sectionContactBgTop {
    background: rgba(0, 0, 0, .45) none repeat scroll 0 0;
    margin: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.sectionContact h2{
    font-family: RobotoBold;
    text-align: center;
    font-size: 62px;
    color: #e6c93f;
    margin-top: 250px;
    margin-bottom: 50px;
    text-shadow: 3px 3px #90489e, 5px 4px #53bc68;
}
.contactInfo {
    color: #fff;
}
.sectionContactsPhone a {
    color: #e5c83c;
    font-family: FuturaPTMedium;
    font-size: 32px;
    background: rgba(255,255,255,.1);
    padding: 0 15px;
    border-radius: 3px;
}
.sectionContactsPhone a:hover {
    text-decoration: none;
}
.sectionContactsPhone a:focus {
    text-decoration: none;
}
.contactThank {
    text-align: center;
    padding: 50px;
    font-size: 32px;
    color:#fff;
    border:1px solid #ccc;
    margin-top: 150px;
}