.sectionWhyDevelopment {
    -moz-transform: skewY(7deg);
    -webkit-transform: skewY(7deg);
    -o-transform: skewY(7deg);
    -ms-transform: skewY(7deg);
    transform: skewY(7deg);
    background: #000;
    padding-top: 120px;
    padding-bottom: 120px;
}
#sectionWhyDevelopment {
    -moz-transform: skewY(-7deg);
    -webkit-transform: skewY(-7deg);
    -o-transform: skewY(-7deg);
    -ms-transform: skewY(-7deg);
    transform: skewY(-7deg);
    background: #000;
}
.sectionWhyDevelopment h2{
    font-family: RobotoBold;
    text-align: center;
    font-size: 62px;
    color: #fff;
    margin-bottom: 80px;
    text-shadow: 3px 3px #000, 5px 4px #8d449d;
}
#timelineTop .timeline-item:after, #timelineTop .timeline-item:before {
    content: '';
    display: block;
    width: 100%;
    clear: both;
}

#timelineTop {
    width: 100%;
    margin: 30px auto;
    position: relative;
    padding: 0 10px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
#timelineTop p{
    margin-top: 20px;
}
#timelineTop:before {
    content: "";
    width: 3px;
    height: 100%;
    background: #55bd5e;
    left: 50%;
    top: 0;
    position: absolute;
}
#timelineTop:after {
    content: "";
    clear: both;
    display: table;
    width: 100%;
}
#timelineTop .timeline-item {
    margin-bottom: 50px;
    position: relative;
}
#timelineTop .timeline-item .timeline-icon {
    background: #8d449d;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    color: #ccc;
    text-align: center;
    line-height: 50px;
    overflow: hidden;
    margin-left: -23px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
#timelineTop .timeline-item .timeline-icon i {
    position: relative;
}
#timelineTop .timeline-item .timeline-content {
    width: 45%;
    background: #fff;
    padding: 20px;
    -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#timelineTop .timeline-item .timeline-content h3 {
    font-family: RobotoMedium;
    padding: 15px;
    background: #8d449d;
    color: #ccc;
    margin: -20px -20px 0 -20px;
    font-weight: 300;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -ms-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}
#timelineTop .timeline-item .timeline-content:before {
    content: '';
    position: absolute;
    left: 45%;
    top: 20px;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #8d449d;
}
#timelineTop .timeline-item .timeline-content.right {
    float: right;
}
#timelineTop .timeline-item .timeline-content.right:before {
    content: '';
    right: 45%;
    left: inherit;
    border-left: 0;
    border-right: 7px solid #8d449d;
}
