.sectionAdvantages {
    padding-top: 220px;
    padding-bottom: 220px;
    background: #8d449d;
    margin-top: -120px;
}
.sectionAdvantages h2{
    font-family: RobotoBold;
    text-align: center;
    font-size: 62px;
    color: #000;
    margin-bottom: 20px;
    text-shadow: 3px 3px #fff, 5px 4px #000;
}
.advantagesItem img {
    float: left;
    margin-right: 20px;
    width: 160px;
}
.advantagesItemRight img{
    float: right;
    margin-left: 20px;
    width: 160px;
}


.advantagesItem {
    margin: 50px 0;
    border: 1px solid rgba(204,204,204,.2);
    padding: 20px;
    border-radius: 5px;
    background: rgba(204,204,204,.2);
}
.advantagesItemRight {

}
.advantagesItemText {
    color: #ccc;
    margin-top: 20px;
}
.advantagesItemText p{
    font-size: 21px;
}
.advantagesItemTitle {
    color: #e8c93d;
    font-family: RobotoBold;
    font-weight: 700;
    margin-bottom: 10px;
    text-shadow: 2px 1px 0px #000;
}
.advantagesItemTitleRight {
    text-align: right;
    color: #e8c93d;
    font-family: RobotoBold;
    font-weight: 700;
    margin-bottom: 10px;
    text-shadow: 2px 1px 0px #000;
}
