#service {
    padding-top: 120px;
    padding-bottom: 120px;
}

.serviceHeading {
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: RobotoBold;
    font-size: 62px;
    color: #000;
    text-shadow: 3px 3px #fff, 5px 4px #000;
}
.serviceItem {
    background: #ccc;
    padding: 30px 20px 30px 20px;
    border-radius: 5px;
    margin: 20px 0;
    transition: all .3s;
    position: relative;
}
.serviceItem:hover {
    background: #333;
    color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.8);
}
.serviceItem:active {
    box-shadow: 0px 4px 0px #000;
}
.serviceItem h3{
    margin: 20px 0;
}
.serviceItemBig {
    background: #8e469c;
    padding: 50px 20px;
    border-radius: 10px;
    margin: 20px 0;
    transition: all .3s;
    color: #fff;
    position: relative;
}
.serviceItemBig:hover {
    box-shadow: 0 0 20px rgba(0,0,0,.8);
}
.serviceItemBig h3{
    margin: 40px 0;
}
.priceService {
    position: absolute;
    right: 5px;
    bottom: 0;
    color: #f56c88;
}
.priceServiceGreen {
    color: #55bd64;
    position: absolute;
    right: 5px;
    bottom: 0;
}
.serviceHit {
    position: absolute;
    top: -10px;
    left: 30px;
    background: #55bd64;
    border-radius: 3px;
    padding: 0 10px 5px 10px;
    color: #fff;
}

