@import "navigation.css";
@import "section-slider.css";
@import "sectionService.css";
@import "sectionWhyDevelopment.css";
@import "sectionAdvantages.css";
@import "sectionWhyWe.css";
@import "popupform.css";
@import "stagesDevelopment.css";
@import "sectionOrderCooperation.css";
@import "sectionPortfolio.css";
@import "sectionFooter.css";
@import "sectionTestimonials.css";
@import "sectionContact.css";
@import "contactForm.css";
@import "buttonTop.css";
body{
    font-family: "RobotoLight";
    font-size: 22px;
    font-weight: 300;
    background: #fff;
}